.main {
  padding: $main-padding-small;
  @extend %display-flex;
  justify-content: center;
  &__catalog {
    width: 944px;
    height: 856px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minamx(403px, 1fr));
  }
}

@include card-margins ($card-margin-right, $card-margin-bottom);

@media (min-width: 1200px) {
  .main {
    padding: $main-padding-big;
  }
}
